* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f3f5f7;
}
/* 确定版型 1200px */
.w {
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.clear {
  clear:both
}

/* header start*/
.header {
  height: 42px;
  margin: 30px auto;
}
.header .logo {
  float: left;
  width: 198px;
  height: 42px;
}
.header .nav {
  float: left;
  margin-left: 60px;    
}
.header .nav ul li {
  float: left;
  margin: 0px 15px;
}
.header .nav ul li a {
  display: block;
  height: 42px;
  padding: 0px 10px;
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}
.header .nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}
.header .search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 70px;
}
.header .search input {
  float: left;
  width: 345px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: none;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.header .search button {
  float: left;
  width: 51px;
  height: 42px;
  background-color: #00a4ff;
  border: 1px solid #00a4ff;
  outline: none;
}
.header .search button img {
  width: 35px;
  height: 35px;
  margin-top: 2px;
}
.header .user {
  float: right;
  line-height: 42px;
  font-size: 14px;
  color: #666666;
  margin-right: 10px;
}
.header .user img {
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}
/* header end */

/* banner start */
.banner {
  height: 421px;
  background-color:  #1c036c;
}
.banner .w {
  height: 421px;
  background: url(images/banner2.png) no-repeat top center;
}
.banner .w .subnav {
  float: left;
  width: 190px;
  height: 421px;
  background: rgba(0, 0, 0, 0.3);
}
.banner .w .subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0px 20px;
}
.banner .w .subnav ul li a {
  font-size: 14px;
  color: #fff;
}
.banner .w .subnav ul li a:hover {
  color: #00a4ff;
}
.banner .w .subnav ul li a span {
  float: right;
}
.banner .w .course {
  float: right;
  width: 230px;
  height: 300px;
  margin-top: 50px;
  background-color: #fff;
}
.banner .w .course h2 {
  height: 48px;
  background-color: #9bceea;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
}
.banner .w .course .bd {
  padding: 0px 20px;
}
.banner .w .course .bd ul li {
  padding: 14px 0px;
  border-bottom: 1px solid #ccc;
}
.banner .w .course .bd ul li h4 {
  font-size: 16px;
  color: #4e4e4e;
}
.banner .w .course .bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}
.banner .w .course .bd .more {
  display: block;
  height: 38px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  margin-top: 7px;
  font-weight: 700;
}
/* banner end */

/* goods start */
.goods {
  height: 60px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  line-height: 60px;
}
.goods h3 {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: #00a4ff;
}
.goods ul {
  float: left;
  margin-left: 30px;
}
.goods ul li {
  float: left;
  margin-right: 10px;
}
.goods ul li a  {
  padding: 0px 30px;
  font-size: 15px;
  color: #050505;
  border-left: 1px solid #ccc
}
.goods .mod {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}
/* goods end */

/* box start */
.box {
    margin-top: 30px;
}
.box .box-hd {
  height: 45px;
}
.box .box-hd h3{
  float: left;
  font-size: 20px;
  color: #494944;
}
.box .box-hd a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin: 10px 30px 0 0;
}
.box .box-bd ul {
  width:1225px;
}
.box .box-bd ul li {
  float: left;
  width: 228px;
  height: 270px;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 10px;
}
.box .box-bd ul li h4 {
  margin: 20px 20px 20px 25px;
  font-size:14px;
  color: #050505;
  font-weight: 400;
}
.box .box-bd ul li .info {
  margin: 0px 20px 0px 25px;
  font-size: 12px;
  color: #999;
}
.box .box-bd ul li .info span {
  color:#ff7c2d;
}
/* box end */

/* footer start */
.footer {
  height: 415px;
}
.footer .w {
  padding-top:35px;
}
.footer .w .copyright {
  float: left;
}
.footer .w .copyright p {
  font-size: 12px;
  color: #666;
  margin: 20px 0px 15px 0px;
}
.footer .w .copyright .app {
  display: block;
  width: 118px;
  height: 33px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 33px;
  font-size: 16px;
  color: #00a4ff;
}
.footer .w .link {
  float: right;
}
.footer .w .link dl {
  float: left;
  margin-left: 100px;
}
.footer .w .link dl dt {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
.footer .w .link dl dd a {
  color: #333;
  font-size: 12px;
}
/* footer end */
